/* @import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Tulpen+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    /* font-family: "Work Sans", sans-serif !important; */
    font-family: "Tulpen One", cursive !important;
    scroll-behavior: smooth;
    scroll-padding-top: 7.875rem;
}

body {
    margin: 0;
    letter-spacing: 0.25px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.calendar {
    font-family: "Tulpen One", cursive !important;
    font-size: 1.25rem !important;
    height: 100%;
    overflow: hidden;
    border-radius: 0.5rem;
    color: #160f0f !important;
    max-width: 31.25rem;
    margin: auto;
}

.calendar .body .row .cell .number {
    font-size: 100% !important;
    top: 50% !important;
    left: 50%;
    right: unset !important;
    transform: translate(-50%, -50%);
}

.calendar .days {
    color: #160f0f !important;
}

.calendar .header {
    padding: 0.5rem !important;
}

.calendar .timeSelector {
    font-family: "Tulpen One", cursive !important;
}

.calendar .body .row .cell {
    height: 2.8em !important;
}

.calendar .timeSelector .cell {
    height: auto !important;
}

.disabled {
    color: #e52b50 !important;
    cursor: not-allowed !important;
}

.calendar .body .cell .bg {
    font-size: 3rem !important;
    left: 0rem;
    top: 0 !important;
    right: unset !important;
}

/* map */
.leaflet-control-attribution {
    display: none;
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}
